*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

h1{
    color: aliceblue;
}
.logo img{
    width: 167px;
    height: 45px;
    vertical-align: middle;
}
nav a.logo{
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
}
/* header{
   
} */
header nav {
    height: 90px;
    display: flex;
    /* justify-content: space-around; */
   
}

.movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 500px;
}
.movie img{
    width: 100%;
}